<div>
	<nav>
		<ul>
			<li>{{#link-to 'index'}}Home{{/link-to}}</li>
			<li>{{#link-to 'about'}}About{{/link-to}}</li>
		</ul>
	</nav>
	<p style="padding-left: 30px;">When you click on any link. You'll redirected to tagret anchor link. View content will be rendered into below box.</p>
	<div class="view">
		{{outlet}}			
	</div>
</div>

